<!-- templates/home.html -->
{% extends 'base.html' %}

{% block content %}
    <ul>
     {% if user.is_authenticated %}
        <li><a href="{% url 'bookmark_list' %}">Bookmarks</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
     {% else %}
           <li><a href="{% url 'login' %}">Login</a></li>
     {% endif %}
    </ul>


  {% for post in object_list %}
  <div class="post-entry">
    <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
    <p>{{ post.body }}</p>
  </div>
  {% endfor %}
{% endblock content %}
