<!-- templates/post_detail.html -->
{% extends 'base.html' %}

{% block content %}
  <div class="post-entry">
    <h2>{{ post.title }}</h2>
    <p>{{ post.body }}</p>
  </div>
    {% if user.is_authenticated  %}
        {% if not is_bookmarked and user.is_authenticated  %}
            <a href="{% url 'bookmark_add' post.id %}">Bookmark</a>
        {% else %}
            <a href="{% url 'bookmark_remove' post.id %}">Remove Bookmark</a>
        {% endif %}
    {% endif %}


{% endblock content %}
